@model Inspector

@{
    ViewData["Title"] = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4 text-center text-danger">Удалить</h2>
    <h4 class="mb-4 text-center">Вы уверены, что хотите удалить эту запись?</h4>

    <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="text-secondary">Информация об инспекторах</h5>
            <hr/>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Department)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="InspectorId"/>
                <div class="text-center">
                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="bi bi-trash"></i> Удалить
                    </button>
                    <span class="mx-2">|</span>
                    <a asp-action="Index" class="btn btn-outline-primary">
                        <i class="bi bi-arrow-left-circle"></i> Вернуться к списку
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>