@model InspectorJournal.ViewModels.Users.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header  text-center">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Users">
                        <h5 class="text-secondary mb-4">Редактируйте данные пользователя</h5>

                        <!-- Скрытое поле для Id -->
                        <div class="form-group mb-3">
                            <input type="hidden" asp-for="Id" />
                        </div>

                        <!-- Поле для имени пользователя -->
                        <div class="form-group mb-3">
                            <label asp-for="UserName" class="form-label">Имя пользователя</label>
                            <input type="text" asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <!-- Поле для email -->
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Поле для даты регистрации -->
                        <div class="form-group mb-3">
                            <label asp-for="RegistrationDate" class="form-label">Дата регистрации</label>
                            <input asp-for="RegistrationDate" class="form-control" type="date" />
                            <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                        </div>

                        <!-- Поле для роли пользователя -->
                        <div class="form-group mb-3">
                            <label asp-for="UserRole" class="form-label">Роль пользователя</label>
                            <select asp-for="UserRole" class="form-control" asp-items="ViewBag.UserRole"></select>
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>

                        <!-- Кнопка сохранения изменений -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-lg w-100">
                                Сохранить изменения
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-sm btn-primary">Вернуться</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
